<link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">

<div id= "container">

  <div id= "header">
    <mat-toolbar id="toolbar">Alistair's Notes</mat-toolbar> 
  </div>
  <hr id="hrbar"> 
  
    <section *ngIf=addFormToggle class="card" fxLayout="column"> 
      <form (ngSubmit)="onSubmit(f)" #f="ngForm" class="form">
        <mat-card fxFlex.xs="100%" fxFlex="100%">

        <mat-card-content xLayoutAlign="center">
          <mat-form-field class="title">
            <input matInput placeholder="title" ngModel name="title" required>
          </mat-form-field>
       
          <mat-form-field class="content">
            <textarea cols="100" rows="15" ngModel name="text" matInput placeholder="text..." required></textarea>       
          </mat-form-field>
        </mat-card-content>
  
          <mat-card-actions fxLayoutAlign="center">
            <button *ngIf=displaySaveButton type="submit" class= "circle_button" mat-button [disabled]="f.invalid"> SAVE </button>
          </mat-card-actions>   
        </mat-card>
      </form>
    </section>
 
  <button  *ngIf=displayAddButton type="button" class="circle_button"  (click)= "addEntry()" > 
 +
  </button>
  <br>

  <p *ngIf="loadedPosts.length < 1"> No Posts </p>
 



  <section class="new-entry" >
    <mat-card class="card" *ngFor= "let post of loadedPosts">
       <mat-card-title class="title">
        {{ post.title }}
      </mat-card-title>   
      <mat-card-content class="content">
        {{ post.content }}
      </mat-card-content>  
      <br>
    </mat-card>
  </section>


  
        <!-- <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>27/12/2018 ccxx today I have been...</mat-card-title>
            <mat-card-subtitle>Football</mat-card-subtitle>
        </mat-card-header>
           <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu"> -->
         <!-- <mat-card-content>
          <iframe src=" https://material.io/develop/web/docs/framework-integration/"> </iframe> -->
          <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Day 7 of RED January - bit flatter down here, but some of the landmarks are ok to look at... <a href="https://t.co/t1VvAqMRmF">pic.twitter.com/t1VvAqMRmF</a></p>&mdash; Tim Farron (@timfarron) <a href="https://twitter.com/timfarron/status/1214599847505997825?ref_src=twsrc%5Etfw">January 7, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> -->
          <!-- <blockquote class="twitter-tweet"><p lang="en" dir="ltr">Day 7 of RED January - bit flatter down here, but some of the landmarks are ok to look at... <a href="https://t.co/t1VvAqMRmF">pic.twitter.com/t1VvAqMRmF</a></p>&mdash; Tim Farron (@timfarron) <a href="https://twitter.com/timfarron/status/1214599847505997825?ref_src=twsrc%5Etfw">January 7, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
          <iframe src="https://open.spotify.com/embed/album/6HTjcSF1a0NSipUF8VUmUv" width="100%" height="100%" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
          <p>
   
          </p>
        </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card> --> 

      <!-- <mat-card class="card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>27/12/2018 ccxx today I have been...</mat-card-title>
            <mat-card-subtitle>Football</mat-card-subtitle>
        </mat-card-header>
        
         <mat-card-content>
          <blockquote class="twitter-tweet"><p lang="en" dir="ltr">2020 new booters incoming on Warehouse Music Records⚡️🏢 Mexicanas 👀 <a href="https://twitter.com/ShineBelfast?ref_src=twsrc%5Etfw">@ShineBelfast</a> <a href="https://t.co/pdS5oVr7Cd">pic.twitter.com/pdS5oVr7Cd</a></p>&mdash; Mella Dee (@MellaDee_) <a href="https://twitter.com/MellaDee_/status/1214603195185614848?ref_src=twsrc%5Etfw">January 7, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card> -->


      <!-- <mat-tab-group *ngIf="addForm"> 
      This is to add the entry form
      Cee'ding form into Card  
      -->



      <!-- <mat-card class="Entrycard">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>27/12/2018 ccxx today I have been...</mat-card-title>
            <mat-card-subtitle>Football</mat-card-subtitle>
        </mat-card-header>
        
         <mat-card-content>
          <blockquote class="twitter-tweet"><p lang="en" dir="ltr">2020 new booters incoming on Warehouse Music Records⚡️🏢 Mexicanas 👀 <a href="https://twitter.com/ShineBelfast?ref_src=twsrc%5Etfw">@ShineBelfast</a> <a href="https://t.co/pdS5oVr7Cd">pic.twitter.com/pdS5oVr7Cd</a></p>&mdash; Mella Dee (@MellaDee_) <a href="https://twitter.com/MellaDee_/status/1214603195185614848?ref_src=twsrc%5Etfw">January 7, 2020</a></blockquote> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        </mat-card-content>
          <mat-card-actions>
            <button mat-button>LIKE</button>
            <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      

  <div id="circle">   </div> -->
      
  <!-- <div id="content">27/12/2018 ccxx today I have been...
 
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </div>
</div>  -->





<!-- <nav>      
  Projects | Notes | Info  
<hr width="96%">  
</nav> -->

 <!-- <div id="headertest">
    ***** TEST ******
</div> -->

<!-- <div id="container"> -->

  <!-- <div id="pageheader">Alistair's Notes </div> -->
      <!-- <nav>      
        Projects | Notes | Info  <a href="https://twitter.com/alofarnside?ref_src=twsrc%5Etfw" class="twitter-follow-button" data-show-screen-name="false" data-show-count="false">Follow @alofarnside</a><script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script>
        <hr width="96%"> 
      </nav> -->
              
<!-- <div id="content">   -->
  
 
  
  <!-- <form class="example-form">
    <mat-form-field class="example-full-width">
      <textarea matInput placeholder="Leave a comment"></textarea>
    </mat-form-field>
  </form> -->
  

    
  

<!-- <div id="title">27/12/2018 cc today I have been...
    <br>
          
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
              xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx
    </div> -->
  <!-- </div>           
</div>   --> 
        

